body {
	font-family: Lato;
	font-size: 11pt;
	font-weight: 300;
	background: #fff;
	color: #000;
	text-align: justify;
}

p {
	line-height: 120%;
}

a {
	text-decoration: none;
	color: #88F;
}

/* 8in by 10in page size */
@page {
	size: 203mm 254mm;
	orphans: 3;
	widows: 3;
	margin-top: 35mm;
	margin-bottom: 35mm;
}

@page titlepage {
	margin: 0cm;
	padding: 0cm;
	@bottom-right {
		content: "";
	}
}

@page:left {
	margin-left: 35mm;
	margin-right: 35mm;
	@top-left {
		font-family: Lato;
		content: string(section);
	}
	@bottom-left {
		font-family: Lato;
		content: counter(page);
	}
}

@page:right {
	margin-left: 35mm;
	margin-right: 35mm;
	@top-right {
		font-family: Lato;
		content: string(subsection);
	}
	@bottom-right { 
		font-family: Lato;
		content: counter(page);
	}
}

@media only print {
	.titlepage {
		page-break-before: right;
		counter-reset: page 1;
		page: titlepage;
	}

	.titletext {
		display: none;
	}
}

@media only screen {
	.titlepage {
		display: none;
	}

	.titletext {
		font-size: 25mm;
		font-weight: 900;
	}
}

h1:before {
	string-set: section content();
	string-set: subsection "";
}

h1 {
	font-size: 32px;
	font-weight: 500;
	page-break-before: right;
}
.h1 {
	font-size: 32px;
	font-weight: 500;
	page-break-before: right;
}

h2:before {
	string-set: subsection content();
}

h2 {
	font-size: 24px;
	font-weight: 500;
	page-break-before: auto;
}

h3 {
	font-size: 16px;
	font-weight: 500;
	page-break-after: avoid;
}

h4 {
	font-size: 14px;
	font-weight: 500;
	page-break-after: avoid;
}

h5 {
	font-size: 12px;
	font-weight: 500;
	page-break-after: avoid;
}

h6 {
	font-size: 11px;
	font-weight: 500;
	page-break-after: avoid;
}

ul {
	page-break-inside: avoid;
	margin-left: 1cm;
}

li {
	padding: 0;
	margin: 0;
	list-style: circle;
}

li::marker {
	color: #888;
}
.toc {
}
.toc ul {
	padding-left: 0;
	margin-left: 0.2cm;
	page-break-inside: auto;
}
.toc li {
	list-style: none;
	padding-left: 0;
}
.toc ul li a {
	text-decoration: none;
	color: #000;
	text-indent: 0cm;
}
.toc li a:after {
	content: leader('.') target-counter(attr(href), page);
}
.none {
	display: none;
}

table {
	border: 1px solid #888;
	page-break-inside: avoid;
	width: 95%;
}

th {
	background-color: #ccc;
	text-align: center;
}

tr {
	border: 5px solid #96d1f8;
	background-color: #eee;
}

td {
	text-align: center;
}
