body {
	font-family: Trebuchet MS;
	font-size: 10pt;
	background: #fff;
	color: #000;
	text-align: left;
}

p {
	line-height: 120%;
}

a {
	text-decoration: none;
	color: #000;
}

@page {
	size: b5;
	orphans: 3;
	widows: 5;
}

@page:first {
	margin: 0cm;
	padding: 0cm;
	@bottom-right {
		content: "";
	}
}

@page:left {
	margin-left: 2cm;
	margin-right: 2cm;
	@top-left {
		font-family: Trebuchet MS;
		content: string(section);
	}
	@bottom-left {
		font-family: Trebuchet MS;
		content: counter(page);
	}
}

@page:right {
	margin-left: 2cm;
	margin-right: 2cm;
	@top-right {
		font-family: Trebuchet MS;
		content: string(subsection);
	}
	@bottom-right { 
		font-family: Trebuchet MS;
		content: counter(page);
	}
}

h1 {
	font-size: 32px;
	font-weight: bold;
	page-break-before: left;
	string-set: section content();
}
.h1 {
	font-size: 32px;
	font-weight: bold;
	page-break-before: left;
	string-set: section content();
}
h2 {
	font-size: 24px;
	font-weight: bold;
	page-break-before: auto;
	string-set: subsection content();
}
h3 {
	font-size: 16px;
	font-weight: bold;
	page-break-after: avoid;
}
h4 {
	font-size: 14px;
	font-weight: bold;
	page-break-after: avoid;
}
h5 {
	font-size: 12px;
	font-weight: bold;
	page-break-after: avoid;
}
h6 {
	font-size: 11px;
	font-weight: bold;
	page-break-after: avoid;
}
ul {
	page-break-inside: avoid;
	margin-left: 1cm;
}
li {
	padding: 0;
	margin: 0;
	list-style: circle;
}
li::marker {
	color: #888;
}
.toc {
}
.toc ul {
	padding-left: 0;
	margin-left: 0.2cm;
}
.toc li {
	list-style: none;
	padding-left: 0;
}
.toc ul li a {
	text-decoration: none;
	color: #000;
	text-indent: 0cm;
}
.toc li a:after {
	content: leader('.') target-counter(attr(href), page);
}
.none {
	display: none;
}

table {
	border: 1px solid #888;
	page-break-inside: avoid;
	width: 90%;
}

th {
	background-color: #ccc;
	text-align: center;
}

tr {
	border: 5px solid #96d1f8;
	background-color: #eee;
}

td {
	text-align: center;
}
